<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>heroes</title>
</head>
<body>
<h1>List of all Heroes!!</h1>
<ul>
    {% for heroes in all_heroes %}
    <li><h2> {{heroes.super_hero_name}}</li></h2>
    {% endfor %}
<ul> 
{% comment %} <ul>
    {% for heroes in all_heroes %}
    <li><h2>{{heroes.super_hero_name}} {% if heroes.primary_power == 'Strength' %} - LIFTS CAR! {% endif %}</h2></li>
    {% endfor %}
</ul> {% endcomment %}
</body>
</html>